.inputField {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(248, 243, 243, 0.952);
  color: rgb(0, 0, 0, 0.5);
  font-size: 16px;
  margin-bottom: 20px;
}

.inputField::placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

.button {
  width: 320px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 0, 0, 0.9);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}