.container-bubble {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border: 1px solid;
}

.add-bubble {
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 20px;
  border-radius: 50%;
  background-color: #1C1C1C;
  color: #ffff;
  z-index: 999;
  opacity: 0.3;
}

.add-bubble:hover {
  opacity: 1;
}

.react-transform-wrapper, .react-transform-element, .react-transform-component, .react-grid-layout  {
  min-height: 100% !important;
  height: 100% !important;
  min-width: 100% !important;
  width: 100% !important;
}

.react-grid-layout {
  border: 1px solid #bec1c2;
  background-color: #e8eaeb;
  width: 8000px !important;
  height: 7008px !important;
  position: fixed;
}

.transform-component-module_content__FBWxo {
  width: 25000px !important;
  height: 7000px !important;
  position: fixed;
}

.container-bubble input {
  font-size: 5vmin !important;
}

.container-projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
}