.container-background {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, black, #1C1C1C);
  background-image: url('/images/mountain.jpg'); 
  background-size: cover;
}

.token-field {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(248, 243, 243, 0.952);
  color: rgb(0, 0, 0, 0.5);
  font-size: 16px;
  margin-bottom: 20px;
}

.token-field::placeholder {
  color: rgba(0, 0, 0, 0.5); 
}

.button-auth {
  width: 300px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.button-auth:hover {
  background: rgba(255, 255, 255, 0.9);
}

.container-auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-error-message {
  color: red;
  font-weight: 700;
  text-align: center; 
  padding: 10px;
}